//style in lesson one

.lessonOne {
	background-color: #D3D3D3;
}

#testLessonOneblock {
	margin-top: 20px;
	border: 0.5px solid black;
	height: 40px;
}

.testLessonOne {
	margin: 10px;
	font-size: 23pt;
	font-weight: 800px;
	text-decoration: none;
}
	