/*
#dv1 {
	width: 400px; 
	height: 400px; 
	background-color: blue;
}

#dv2 {
	width: 300px;
	height: 300px; 
	background-color: gold;
}

#dv3 {
	width: 200px; 
	height: 200px; 
	background-color: pink;
}


body{
      
    }
	#dvcalc{text-align: center;
      
      border-style: outset;
        height: 470px;
      width: 440px;
      border-spacing: 5px;
      border-radius: 6px;
	  margin:auto;}
    #scr{
      width: 410px;
      height: 40px;
      border-style: ridge;
      border-color: grey;
      margin-top: 4px;
      margin-left: auto;
      background: linear-gradient(grey,white);
    }
    div{
      background-color: #777777;
      border-radius: 6px;
    }
    input{
      margin-left: auto;
    }
    div input{
      color: white;
      height: 80px;
      width: 80px;
      border-radius: 8px;
      font-size: 20pt;
      background: linear-gradient(black,brown);
    }
    */