.lessonThree {
  text-align: center;
  border-style: outset;
  height: 580px;
  width: 450px;
  margin-top: 10px;
  border-spacing: 5px;
  border-radius: 6px;
  background-color: #D3D3D3;
}

.lessonThreeCalculatorScreen {
  width: 340px;
  height: 40px;
  border-style: ridge;
  border-color: grey;
  margin-top: 4px;
  margin-left: auto;
  background: linear-gradient(grey,white);
  color: white;
  font-size: 30px;
}

.lessonThreeCalculator {
  background-color: #777777;
  border-radius: 6px;
}

.lessonThreeCalculator input {
  color: white;
  height: 80px;
  width: 80px;
  border-radius: 8px;
  font-size: 20pt;
  background: linear-gradient(black,brown);
}
