 /*
 body{
      text-align: center;
      border-style: outset;
      height: 400px;
      width: 450px;
      border-radius: 6px;
    }
    #src{
      width: 430px;
      height: 40px;
      border-style: ridge;
      border-color: grey;
      margin-top: 4px;
      margin-left: auto;
      background: linear-gradient(grey,white);
    }
    div{
      background-color: #777777;
      border-radius: 6px;
    }
    input{
      margin-left: auto;
    }
    div input{
      color: white;
      height: 80px;
      width: 80px;
      border-radius: 8px;
      font-size: 20pt;
      background: linear-gradient(black,brown);
    }

    #blok1{
        color:red;
      }
      #blok2{
        background-color: lime;
      }
      #blok3{
        font-size: 100px;
      }
      */