.lessonFour {
  text-align: center;
  margin-top: 10px;
  height: 200px;
  width: 450px;
  border-radius: 6px;
  background-color: #D3D3D3;
}

#blok1 {
  color:red;
}

#blok2 {
  background-color: lime;
}

#blok3 {
  font-size: 100px;
  background-color: #777777;
}
