/*
 html,body{height:100%}
 body{margin:10px; height:200%;  background-color:cyan} 
 #dv1{width:100px; height:50%; color:red; background-color:pink;position:absolute; margin:20px; top:400px;}
 #ball{width:100px;} 
 */