
/*
#fon{
  width:170px;
  height:85px;
  background-image: url(img/image2.jpg);
  background-position: -10px; -11px;
  display:inline-block;
}
#fup, #fdown{
  margin-left: 52px;
}
#fleft, #fright{
  margin-top: 52px;
}
*/