.lessonThirteen{
	margin-top: 20px;
	background-color: #D3D3D3;
}

#dv1{
	width:500px;
	height:50%;
	color:red;
	background-color:pink;
	position:absolute;
	margin:200px; 
	top:2400px;
	left: 200px
}
 
#ball{
	width:30px;
} 
