/*
 body{
      text-align: center;
      margin-top: 10%;
      border-style: outset;
      margin-left: 100px;
      height: 450px;
      width: 350px;
      border-spacing: 5px;
      border-radius: 6px;
    }
    #scr{
      width: 340px;
      height: 40px;
      border-style: ridge;
      border-color: grey;
      margin-top: 4px;
      margin-left: auto;
      background: linear-gradient(grey,white);
    }
    div{
      background-color: #777777;
      border-radius: 6px;
    }
    input{
      margin-left: auto;
    }
    div input{
      color: white;
      height: 80px;
      width: 80px;
      border-radius: 8px;
      font-size: 20pt;
      background: linear-gradient(black,brown);
    }
    spun p {
      margin-left: 500px;
    }
    */