.lessonSix{
	margin-top: 20px;
	background-color: #D3D3D3;
}

#fon{
  width:70px;
  height:85px;
  background-image: url(../../img/imageLessonSix.jpg);
  background-position: -10px, -10px;
  display:inline-block;
}

#fup, #fdown{
  margin-left: 52px;
}

#fleft, #fright{
  margin-top: 52px;
}
